#wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    --width: 100vw;
    width: var(--width);
    min-width: var(--width);
    max-width: var(--width);
    height: var(--navbar-height);
    min-height: var(--navbar-height);
    max-height: var(--navbar-height);
    position: fixed;
    background: var(--nav-background);
    box-shadow: 0px 0px 5px 0px var(--nav-border-color);
    transition: background-color 0.2s linear, border-color 0.2s linear, box-shadow 0.2s linear;
    z-index: 999;
}

#content
{
    --width: var(--app-width);
    width: var(--width);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#content-left
{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo
{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--text-color);
    user-select: none;
    font-size: 19px;
    transition: color 0.2s linear;
}

#logo:hover
{
    color: var(--text-color-secondary);
}

.color-theme-btn
{
    --size: 36px;
    width: var(--size);
    height: var(--size);
    min-width: var(--size);
    min-height: var(--size);
    max-width: var(--size);
    max-height: var(--size);
    border-radius: 50%;
    margin-left: 25px;
    transition: background-color 0.2s linear;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    --background: rgb(128, 128, 128, 0.15);
    --background-hover: rgb(128, 128, 128, 0.25);
    background: var(--background);
}

html[color-theme="dark"] .color-theme-btn
{
    --background:rgb(128, 128, 128, 0.25) !important;
    --background-hover: rgb(128, 128, 128, 0.15);
}

.color-theme-btn:hover, .color-theme-btn:focus
{
    background: var(--background-hover);
}

.color-theme-btn > svg
{
    --icon-size: 16px;
    fill: var(--text-color);
    transition: fill 0.2s linear;
}


@media (max-width: 800px)
{
    #logo
    {
        font-size: 16px;
    }
    .color-theme-btn
    {
        margin-left: 10px;
        --size: 32px;
    }
    .color-theme-btn > svg
    {
        --icon-size: 12px;
    }
}